"*":
  "autocomplete-plus":
    consumeSuffix: false
    enableAutoActivation: false
    minimumWordLength: 2
    strictMatching: true
    useAlternateScoring: false
    useLocalityBonus: false
  autosave:
    enabled: true
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    audioBeep: false
    destroyEmptyPanes: false
    disabledPackages: [
      "spell-check"
    ]
    projectHome: "/home/cppg/dev"
    telemetryConsent: "no"
  editor:
    fontSize: 13
    preferredLineLength: 110
    scrollPastEnd: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "26332d13-cdc8-4664-b756-84487b2066ff"
  "linter-mypy":
    disallowAnyExpr: false
    executablePath: "/home/cppg/miniconda3/bin/python"
    mypyNotifyInternalError: false
    warnIncompleteStub: false
    warnMissingImports: false
  "linter-ui-default":
    panelHeight: 210
  "spell-check":
    useLocales: false
    useSystem: false
  tabs:
    displayMruTabList: false
    enableMruTabSwitching: false
  welcome:
    showOnStartup: false
